
<div class="member well well-sm">
  <span><%= link_to participant.user_name, member_path(participant) %></span> |
  <span><%= participant.rank.title %></span>


  <% if user_signed_in? %>
  <%= link_to 'remove from war', participant, class: "admin", method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
</div>
