<div class= "<%= 'war' %> <%= (war.war_result_id != 3) ? 'alert alert-success' : 'alert alert-danger' %>">
    <%= link_to "Bank of Braavos #{war.stars} vs. #{war.opponent} #{war.opp_stars}", war %> |
    <%= war.created_at.strftime("%b %d, %Y") %>
</div>