<div class="member alert alert-success">
  <span><%= link_to war_hero.user_name, member_path(war_hero.member) %></span> |
  <span><%= war_hero.title %></span> |
  <%= war_hero.reason %>

  <% if user_signed_in? %>
  <%= link_to 'delete', war_hero, class: "admin", method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
</div>