
<h1 class="page-header">Clan Policies</h1>
<h3>Mission Statement</h3>
<p>“Provide a fun, social, and competitive environment for friends, new and old alike.”</p>

<h3>Clan Rules</h3>

<ul>
  <li>
    <h4>Maintain a diversity friendly environment.</h4>
    <p>This is the internet, home of free speech and free ideas. Feel free to express your thoughts. Bank of Braavos, however, is diverse in race, age, gender and sexual orientation.  Discriminatory language will not be tolerated.</p>
  </li>
  <li>
    <h4>Maintain a "Lowbee" friendly environment.</h4>
    <p>Experienced players should offer guidance and support to new players.  New players should make efforts to learn, improve, and contribute where they can.</p>
  </li>
  <li>
    <h4>Freely request and donate troops.</h4>
    <p>The Clan Castle is effectively an extra army camp that, when filled, will allow for more profitable raids and stronger defensive stands.  Our troop request policy is designed to utilize this as much as possible.</p>
    <p>Therefore, we don't require a donation ratio! Implementing one would discourage members from requesting troops, thereby decreasing clan participation. If a member is found to be deliberately exploiting this policy it will be addressed on a case by case basis.</p>
    <p>To keep maximum troop liquidity, we follow the following request guidlines.</p>
  </li>
  <li>
    <h4>Requesting troops to raid:</h4>
    <p>Please use the following, or your own variant to the same effect:</p>
    <ul>
      <li>"Any troops for raids"</li>
      <li>"Any troops for air raids"</li>
      <li>"Any troops for ground raids"</li>
    </ul>
  </li>
  <li>
    <h4>Requesting troops for defense:</h4>
    <p>Please use the following, or your own variant to the same effect:</p>
    <ul>
      <li>"Any troops for defense"</li>
    </ul>
    <p>Defensive troops include: Barbarian, Archer, Balloon, Wizards, Dragon, Minon, Hog Rider, Valkyrie, Witch, Lava Hound. Do not use this request format to get raiding troops.</p>
  </li>
  <li>
    <h4>Requesting troops for war:</h4>
    <p>This is the time to request specific troops.  Winning wars is a priority and we want everyone to have the best chance at getting a "3 Star" Attack.</p>
    <p>Please use the following, or your own variant to the same effect:</p>
    <ul>
      <li>"War; Specific Level/Quantity/Type"</li>
      <li>"War; 1 Level 4+ Dragon, 1 Max Balloon"</li>
    </ul>
    <p>These requests should be treated with the highest priority by all clan members, not only those participating in the current war.</p>
    <p>Do not request a troop/level available to less than 10 clan members.</p>
    <p></p>
  </li>
  <li>
    <h4>Requesting troops for war practice:</h4>
    <p>Please use the following, or your own variant to the same effect:</p>
    <ul>
      <li>"War Practice: Troop Type"</li>
    </ul>
    <p>Do not specify levels for war practice.</p>
    <p>When practicing for war, you should focus on finding strong bases you would normally attack in war (not just high loot bases.) Please post replays of the attempts so the clan can discuss the merits of various strategies.</p>
  </li>
</ul>

<h3>War Strategy</h3>
<ul>
  <li>
    <h4>War Schedule</h4>
    <p>Wars start:</p>
    <ul>
      <li>Monday 8 PM CST</li>
      <li>Wednesday 8 PM CST</li>
      <li>Friday 8 PM CST</li>
    </ul>
    <p>Every clan member is encouraged to see that the war starts at the appropriate time.</p>
  </li>
  <li>
    <h4>Filling War Defensive Clan Castle</h4>
    <p>Please contribute the following principle troops:</p>
    <ul>
      <li>Lava Hound Level 2+</li>
      <li>Dragon Level 3+</li>
      <li>Balloon Level 5+</li>
      <li>Valkyrie Level 2+</li>
      <li>Golem Level 2+</li>
      <li>Hog Rider Level 4+</li>
      <li>Witch Level 2+</li>
      <li>Wizard Level 5+</li>
    </ul>
    <p>Please contribute the following troops only to fill last remainng housing space:</p>
    <ul>
      <li>Minion 3+</li>
      <li>Archer 5+</li>
      <li>Barbarian 5+</li>
    </ul>
    <p>If you don't have access to the above troops even with the donation bonus, you should not fill War Defensive Clan Castles. (Troop levels are not required for raiding requests)</p>
    <p>We do not request specific War Defensive Clan Castles as it interferes with making sure they are all filled.</p>
    <p>After making donations to War Clan Castles, make a post in clan chat. This will let others know you have contributed and serve as a reminder that castles remain to be filled.</p>
  </li>
  <li>
    <h4>Choosing a base to attack:</h4>
    <p>We aim to:</p>
    <ul>
      <li>2 Star all TH10's</li>
      <li>3 Star all TH9's and below.</li>
    </ul>
    <p>To acheive this goal:</p>
    <ul>
      <li>Ignore the application's recomended attack.</li>
      <li>Drop down in rank such that you feel confident you can make a successful attack.</li>
      <li>Encouraged to drop up to 2 times your rank to make successful attacks.</li>
      <li>When in doubt, ask in clan chat.</li>
    </ul>
    <p>After your attack:</p>
    <ul>
      <li>Review it to identify areas for improvement.</li>
      <li>Feel free to ask for feedback in clan chat.</li>
    </ul>
  </li>
  <li>
    <h4>War Participation:</h4>
    <ul>
      <li>Everyone is required to use both attacks.</li>
      <li>If no stars are available to you, attack a base you would normally be responsible for attacking. Practice makes perfect.</li>
    </ul>
  </li>
</ul>

<h3>Violations</h3>
<p>Members will receive violations for the following:</p>
<ul>
  <li>Failure to attack twice in war.</li>
  <li>Repeated violations of troop request policy.</li>
</ul>
<p>Members who receive two violations within a 30 day period will receive a one week temporary kick.</p>
<p>Multiple temporary kicks may result in a permanent ban, subject to clan review.</p>

War Captains: Each war will have a few Co-Leaders responsible for monitoring the war. War Captains should coordinate via group text/email. Responsibilities include:
Confirm that all war CC’s are filled, update clan chat accordingly.
Monitor clan chat for “Who should I attack?” questions and offer appropriate guidance.
Start next war.
Choose a War Hero/Zero.
Assign violations (email updates to brantdfaulkner@gmail.com)
Send post war recap via clan message.

Monday - ir2good4u, Brecker007, Andrew
Wednesday - KEB, bschrad, DaGeneral, MJ
Friday - Blunderbuss, Bandit, Entropy

War Hero/Zero
The War Hero should be chosen each war to recognize an excellent performance as well as to highlight an example for other clan members to learn from.
Factors include:
Attacking appropriate enemy bases
Max/Excellent number of stars for respective level
Well executed attack strategy
Hasn’t recently won War Hero

The War Zero should be chosen each war to identify a player who contributed the least to the war effort. Feedback/guidance for the War Zero should be provided in a constructive manner and afford them as much opportunity to improve upon the performance as much as possible.
Factors include:
Failure to attack
Attacking inappropriate enemy bases
Poor star scoring
Poorly executed attack strategy
Incomplete army (missing spells/clan castle troops)

War Opt-Out
Members should opt-out out of wars if
Army is not at full strength
Spell Factory is upgrading
Hero’s are upgrading
Real life interference
Opt-out is always prefered to non-participation

Prolonged opt-out should be communicated in clan chat. Prolonged opt-out periods may require a temp kick if room is required for active players.  Players are welcome to join our non-warring sister clan “The Unsullied.”

</p>


