<div id="welcome">
  <div class="jumbotron">
    <h1>Bank of Braavos</h1>
    <h3>We play Clash of Clans.</p>

    <h3>We have great members.</h3>
    <%= link_to "Members", members_path, class: "btn btn-primary btn-lg"  %>

    <h3>We war on the regular.</h3>
    <%= link_to "Wars", wars_path, class: "btn btn-primary btn-lg"  %>

    <h3>We follow policy.</h3>
    <%= link_to "Policy", pages_policy_path, class: "btn btn-primary btn-lg"  %>

  </div>
</div>

