
<div class="jumbotron">
  <h1>Welcome to Bank of Braavos</h1>
  <p>We love Clash of Clans. We are an active, social, warring clan.</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn More</a></p>
</div>
