<h1>Pages#welcome</h1>
<p>Find me in app/views/pages/welcome.html.erb</p>

<div class="jumbotron">
  <h1>Welcome to Bank of Braavos</h1>
  <p>We love Clash of Clans. We are an active, social, warring clan.</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn More</a></p>
</div>
