
<h1 class="page-header">Inactive Members</h1>

<h3>Temp Kicked</h3>
<%= render 'members/member', members: @temp_kicked %>

<h3>Banned</h3>
<%= render 'members/member', members: @banned %>

<h3>Inactive</h3>
<%= render 'members/member', members: @inactive %>
