<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @activity_status.status %>
</p>

<%= link_to 'Edit', edit_activity_status_path(@activity_status) %> |
<%= link_to 'Back', activity_statuses_path %>
