<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @violation_type.description %>
</p>

<%= link_to 'Edit', edit_violation_type_path(@violation_type) %> |
<%= link_to 'Back', violation_types_path %>
