@import "bootstrap";
@import "bootstrap-theme";

@import "pages";
@import "members";
@import "wars";




body {
  padding-top: 70px;
  padding-left: 10%;
  padding-right: 10%;
  font-family: 'Open Sans', sans-serif;
}
