.member {
  span:first-child {
    font-weight: bold;
    font-size: 1.25em
  }
  span:nth-child(2) {
    font-weight: bold;
    font-style: italic;
  }
  .admin {
    font-style: italic;
    color: red;
  }
}