#war_index {
  .btn {
    width: 10em;
    color: white;
  }
  .war {
    font-weight: bold;
    font-size: 1.25em;
  }
}

#war_show {
  h3 span {
    font-weight: bold;
  }
  .btn {
    width: 10em;
    color: white;
  }
}

#war_edit {
  h3 span {
    font-weight: bold;
  }
  .field {
    float: left;
    font-size: 1.25em;
    padding: 5px 5px 5px 0;
  }
  .btn {
    width: 10em;
    color: white;
  }
}
